@model IEnumerable<WistronMVC.Core.Models.User>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4" style=" height:450px; padding:10px; margin:10px; border:solid thin whitesmoke">

        </div>
    }
</div>